<ul class="metismenu" id="menu-bar">
    <li class="menu-title">Navigation</li>

    <li>
        <a href="index.html">
            <i data-feather="home"></i>
            <span class="badge badge-success float-right">1</span>
            <span> Dashboard </span>
        </a>
    </li>
    <li class="menu-title">Apps</li>
    <li>
        <a href="apps-calendar.html">
            <i data-feather="calendar"></i>
            <span> Calendar </span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="inbox"></i>
            <span> Email </span>
            <span class="menu-arrow"></span>
        </a>

        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="email-inbox.html">Inbox</a>
            </li>
            <li>
                <a href="email-read.html">Read</a>
            </li>
            <li>
                <a href="email-compose.html">Compose</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="briefcase"></i>
            <span> Projects </span>
            <span class="menu-arrow"></span>
        </a>
    
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="project-list.html">List</a>
            </li>
            <li>
                <a href="project-detail.html">Detail</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="bookmark"></i>
            <span> Tasks </span>
            <span class="menu-arrow"></span>
        </a>
    
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="task-list.html">List</a>
            </li>
            <li>
                <a href="task-board.html">Kanban Board</a>
            </li>
        </ul>
    </li>
    <li class="menu-title">Custom</li>
    <li>
        <a href="javascript: void(0);">
            <i data-feather="file-text"></i>
            <span> Pages </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="pages-starter.html">Starter</a>
            </li>
            <li>
                <a href="pages-profile.html">Profile</a>
            </li>
            <li>
                <a href="pages-activity.html">Activity</a>
            </li>
            <li>
                <a href="pages-invoice.html">Invoice</a>
            </li>
            <li>
                <a href="pages-pricing.html">Pricing</a>
            </li>
            <li>
                <a href="pages-maintenance.html">Maintenance</a>
            </li>
            <li>
                <a href="pages-login.html">Login</a>
            </li>
            <li>
                <a href="pages-register.html">Register</a>
            </li>
            <li>
                <a href="pages-recoverpw.html">Recover Password</a>
            </li>
            <li>
                <a href="pages-confirm-mail.html">Confirm</a>
            </li>
            <li>
                <a href="pages-404.html">Error 404</a>
            </li>
            <li>
                <a href="pages-500.html">Error 500</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);">
            <i data-feather="layout"></i>
            <span> Layouts </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="layouts-horizontal.html">Horizontal Nav</a>
            </li>
            <li>
                <a href="layouts-rtl.html">RTL</a>
            </li>
            <li>
                <a href="layouts-dark.html">Dark</a>
            </li>
            <li>
                <a href="layouts-scrollable.html">Scrollable</a>
            </li>
            <li>
                <a href="layouts-boxed.html">Boxed</a>
            </li>
            <li>
                <a href="layouts-preloader.html">With Pre-loader</a>
            </li>
            <li>
                <a href="layouts-dark-sidebar.html">Dark Side Nav</a>
            </li>
            <li>
                <a href="layouts-condensed.html">Condensed Nav</a>
            </li>
        </ul>
    </li>

    <li class="menu-title">Components</li>

    <li>
        <a href="javascript: void(0);">
            <i data-feather="package"></i>
            <span> UI Elements </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="components-bootstrap.html">Bootstrap UI</a>
            </li>
            <li>
                <a href="javascript: void(0);" aria-expanded="false">Icons
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-third-level" aria-expanded="false">
                    <li>
                        <a href="icons-feather.html">Feather Icons</a>
                    </li>
                    <li>
                        <a href="icons-unicons.html">Unicons Icons</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="widgets.html">Widgets</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);" aria-expanded="false">
            <i data-feather="file-text"></i>
            <span> Forms </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="forms-basic.html">Basic Elements</a>
            </li>
            <li>
                <a href="forms-advanced.html">Advanced</a>
            </li>
            <li>
                <a href="forms-validation.html">Validation</a>
            </li>
            <li>
                <a href="forms-wizard.html">Wizard</a>
            </li>
            <li>
                <a href="forms-editor.html">Editor</a>
            </li>
            <li>
                <a href="forms-file-uploads.html">File Uploads</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="charts-apex.html" aria-expanded="false">
            <i data-feather="pie-chart"></i>
            <span> Charts </span>
        </a>
    </li>

    <li>
        <a href="javascript: void(0);" aria-expanded="false">
            <i data-feather="grid"></i>
            <span> Tables </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="tables-basic.html">Basic</a>
            </li>
            <li>
                <a href="tables-datatables.html">Advanced</a>
            </li>
        </ul>
    </li>
</ul>